<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="4.67.0" />
  <package id="Delaunator" version="1.0.10" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" />
  <package id="Microsoft.Win32.Registry.AccessControl" version="5.0.0" />
  <package id="Microsoft.Win32.SystemEvents" version="5.0.0" />
  <package id="Microsoft.Windows.Compatibility" version="5.0.2" />
  <package id="MongoDB.Bson" version="2.18.0" />
  <package id="Mono.Reflection" version="2.0.0" />
  <package id="NETStandard.Library" version="2.0.3" />
  <package id="NetTopologySuite" version="2.5.0" manuallyInstalled="true" />
  <package id="NetTopologySuite.Features" version="2.1.0" />
  <package id="NetTopologySuite.IO.GeoJSON4STJ" version="4.0.0" manuallyInstalled="true" />
  <package id="System.CodeDom" version="5.0.0" />
  <package id="System.ComponentModel.Composition.Registration" version="5.0.0" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" />
  <package id="System.Data.Odbc" version="5.0.0" />
  <package id="System.Data.OleDb" version="5.0.0" />
  <package id="System.Data.SqlClient" version="4.8.1" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" />
  <package id="System.Diagnostics.EventLog" version="5.0.1" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.1" />
  <package id="System.DirectoryServices" version="5.0.0" />
  <package id="System.DirectoryServices.AccountManagement" version="5.0.0" />
  <package id="System.DirectoryServices.Protocols" version="5.0.0" />
  <package id="System.Drawing.Common" version="5.0.0" />
  <package id="System.Formats.Asn1" version="5.0.0" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" />
  <package id="System.IO.Packaging" version="5.0.0" />
  <package id="System.IO.Pipes.AccessControl" version="5.0.0" />
  <package id="System.IO.Ports" version="5.0.0" />
  <package id="System.Management" version="5.0.0" />
  <package id="System.Reflection.Context" version="5.0.0" />
  <package id="System.Runtime.Caching" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.AccessControl" version="5.0.0" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" />
  <package id="System.Security.Cryptography.Pkcs" version="5.0.1" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" />
  <package id="System.Security.Cryptography.Xml" version="5.0.0" />
  <package id="System.Security.Permissions" version="5.0.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="System.ServiceModel.Syndication" version="5.0.0" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" />
  <package id="System.Speech" version="5.0.0" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.0" manuallyInstalled="true" />
  <package id="System.Threading.AccessControl" version="5.0.0" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
  <package id="runtime.linux-arm.runtime.native.System.IO.Ports" version="5.0.0-rtm.20519.4" />
  <package id="runtime.linux-arm64.runtime.native.System.IO.Ports" version="5.0.0-rtm.20519.4" />
  <package id="runtime.linux-x64.runtime.native.System.IO.Ports" version="5.0.0-rtm.20519.4" />
  <package id="runtime.native.System.Data.SqlClient.sni" version="4.7.0" />
  <package id="runtime.native.System.IO.Ports" version="5.0.0" />
  <package id="runtime.osx-x64.runtime.native.System.IO.Ports" version="5.0.0-rtm.20519.4" />
  <package id="runtime.win-arm64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x64.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
  <package id="runtime.win-x86.runtime.native.System.Data.SqlClient.sni" version="4.4.0" />
</packages>